/*INI ADALAH STYLE JUMBOTRON*/

.jumbotron {
    background-image: url(img/bg-utama.jpg);
    background-size: cover;
    height: 880px;
    text-align: center;
    margin-top: -100px;
}

.jumbotron .display-4 {
    margin-top: 200px;
}

.jumbotron hr {
    border-color: #00012c;
    width: 50px;
    border-width: 3px;
}

.jumbotron .btn {
    background-color: #00012c;
    border: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
}


/*INI ADALAH STLYE SLIDER*/

.carousel-item {
    height: 660px;
}

.carousel-item .display-4 {
    margin-top: -425px;
    color: black;
}

.carousel-item .lead {
    color: black;
}

.carousel-item p {
    color: black;
}

.carousel-item hr {
    border-color: black;
    width: 50px;
    border-width: 3px;
    color: black;
}

.carousel-item .btn {
    background-color: #00012c;
    border: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}