* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.head {
    background: url(./black.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
}